* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(2, 45, 130);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

#tile-page {
  color: yellow;
}