 <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Error 404 - Página No Encontrada</title>
      <link rel="stylesheet" href="css/style404.css">
    
    </head>
    <body>
      <div class="container">
        <img src="img/404.png" alt="Error 404">
        <div class="error-message">
          <h1>Error 404 - Página No Encontrada</h1>
          <p>Lo sentimos, la página que buscas no ha sido encontrada.</p>
          <a href="/">Volver al HOME 🏠</a>
        </div>
      </div>
    </body>
    </html>