<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🕵🏻FBI | 🚨DASHBOARD PAGE🚨</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styleDash.css" />
  </head>
  <body>
    <center>
      <iframe
        title="dash-gif"
        src="https://giphy.com/embed/VFO8XsGtmJZKtJqhkH"
        width="480"
        height="240"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe
      ><br />Bienvenido al <span class="dsh">DASHBOARD</span> Agente.<br />
      <hr />
      <button><a class="logout" href="/">Cerrar Sesion👋🏻</a></button>
    </center>
  </body>
</html>
